body {
	height:100%;
	width:100%;
}

.navbar-top ul{

	list-style-type:none;
	margin:0;
	padding:0;

}

li a {

	display:block;
	padding:8px;
	margin:10px;
	text-align:center;
	text-decoration: none;
	font-family: arial,sans-serif;
	font-size: 13px;

}

#left{

	float:left;
}
#right{

	float:right;
}

#main-container{
	display:grid;
	
	height:500px;
	width:100%;
	

	grid-template-columns:1fr 1fr 1fr 1fr;
	
}
#middle-column{

	grid-column:2/4;
	align-self: center;
}

#logo-area{

	margin:auto;
	margin-bottom:30px;
	border-color:black;
	border-width: 10px;

}

#logo{
	max-width:100%;
}

#search{
	width:100%;
	border-radius:24px;
	height: 40px;
	margin-bottom:30px;
	border: 1px solid #dfe1e5;
}

#search:hover{

	box-shadow: 0 1px 6px rgba(32,33,36,.28);
	border-color: rgba(223,225,229,0);
}

#buttons-area{

	display:block;
	margin:auto;
}

#button1{
	
	height:30px;
	margin:auto;

	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#button2{
	
	height:30px;
	margin-left:15px;

	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#button1:hover, #button2:hover{
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

input[type="text"]{ 
    outline: none;
}

footer{

	position:fixed;
	width:100%;
	bottom:0;
	background-color:grey;
	background: #f2f2f2;
    line-height: 15px;
    font-size: 10pt;
    font-family: arial,sans-serif;

}

@media screen and (max-width: 805px) {
  footer #left, footer #right {
    float: none;
    display:block;

  }
}


footer ul{

	list-style-type:none;
	margin:0;
	padding:0;

}

